<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myfirstwebapp</display-name>
  <welcome-file-list>
    <welcome-file>loginpage.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>phone</param-name>
    <param-value>25252627</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>WelcomePage</display-name>
    <servlet-name>WelcomePage</servlet-name>
    <servlet-class>com.bvrith.views.WelcomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePage</servlet-name>
    <url-pattern>/WelcomePage.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bvrith.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ECE</display-name>
    <servlet-name>ECE</servlet-name>
    <servlet-class>com.bvrith.views.ECE</servlet-class>
    <init-param>
      <param-name>ECEHead</param-name>
      <param-value>vishu</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ECE</servlet-name>
    <url-pattern>/ECE.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EEE</display-name>
    <servlet-name>EEE</servlet-name>
    <servlet-class>com.bvrith.views.EEE</servlet-class>
    <init-param>
      <param-name>EEEHead</param-name>
      <param-value>sunilkumar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EEE</servlet-name>
    <url-pattern>/EEE.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSE</display-name>
    <servlet-name>CSE</servlet-name>
    <servlet-class>com.bvrith.views.CSE</servlet-class>
    <init-param>
      <param-name>CSEHead</param-name>
      <param-value>Vasanthi</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSE</servlet-name>
    <url-pattern>/CSE.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>It</display-name>
    <servlet-name>It</servlet-name>
    <servlet-class>com.bvrith.views.It</servlet-class>
    <init-param>
      <param-name>ITHead</param-name>
      <param-value>anup</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>It</servlet-name>
    <url-pattern>/It.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bvrith.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>com.bvrith.filters.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>*.view</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>UserLoginCheckFilter</display-name>
    <filter-name>UserLoginCheckFilter</filter-name>
    <filter-class>com.bvrith.filters.UserLoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginCheckFilter</filter-name>
    <url-pattern>*.view</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.bvrith.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordController</display-name>
    <servlet-name>PasswordController</servlet-name>
    <servlet-class>com.bvrith.controller.PasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordController</servlet-name>
    <url-pattern>/PasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactController</display-name>
    <servlet-name>CreateContactController</servlet-name>
    <servlet-class>com.bvrith.controller.CreateContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactController</servlet-name>
    <url-pattern>/CreateContactController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.bvrith.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactController</display-name>
    <servlet-name>UpdateContactController</servlet-name>
    <servlet-class>com.bvrith.controller.UpdateContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactController</servlet-name>
    <url-pattern>/UpdateContactController</url-pattern>
  </servlet-mapping>
</web-app>